.container {
    width: 510px;
    height: 245px;
    box-shadow: 0px 0px 10px #666;
}
.img {
    width: 245px;
    height: 245px;
    margin-top: -245;
    margin-right: 265px;
    -webkit-transition: -webkit-transform 1s ease;
    -moz-transition: -moz-transform 1s ease;

}
.img_click {
    -webkit-transform: translate(260px, 0px);
    -moz-transform: translate(260px, 0px);
}

.channel {
    width: 245px;
    height: 245px;
    margin-right: 265px;
    overflow-y: scroll;
}
.chl_name {
    background-color: #EEE;
    -webkit-transition: background-color 0.1s;
    -moz-transition: background-color 0.1s;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 20px 20px 20px 20px;
    cursor: pointer;
}
.chl_name_click {
    background-color: #8DD;
}
.chl_name:hover {
    background-color: #8DD;
}

.btn-pause {
    width: 25px;
    height: 25px;
    margin-left: 470px;
    margin-top: -245px;
    background-color: #0AA;
    -webkit-transition: background-color 0.5s;
}
.btn-pause-click {
    background-color: #0CC;
}
.info {
    margin-left: 260px;
    margin-top: 0px;
}
.artist {
    margin-top:	0px;
    margin-bottom: 5px;
    font-weight: normal;
}
.albumtitle {
    margin-top: 0px;
    font-size: 12px;
}
.song {
    margin-bottom: 3px;
    color: #088;
    font-size: 14px;
}
audio {
    position: absolute;
    width: 240px;
    border-radius: 6px;
    background-color: #0bb;
    color: #0bb;
    z-index: -1;
}
.btn-group {
    margin-left: 320px;
    margin-top: 70px;
}

