<meta charset="utf-8">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="popup.js"></script>
<link type="text/css" rel="stylesheet" href="css/style.css"></script>
<div class="container">
    <div class="channel">
    </div>
    <div class="img">
        <img src="http://img3.douban.com//view//dale-online//dale_ad//public//488eeb18f472d69.jpg"
             width="245" height="245">
    </div>
    <!--button class="btn-pause">||</button-->
    <div class="btn-pause">
        <canvas id="pause" width=25 height=25></canvas>
    </div>
    <div class="info">
        <h2 class="artist">歌手</h2>
        <p class="albumtitle">专辑+发行时间</p>
        <p class="song">歌名</p>
        <audio src="http://mr5.douban.com/201212080942/a589c6adf5b5ed4211e4d33c506cf025/rda/918254b3cd60f41.mp3" controls="controls"></audio>
    </div>
    <div class="btn-group">
        <canvas id="remark" width=60 height=60></canvas>
        <canvas id="bye" width=60 height=60></canvas>
        <canvas id="next" width=60 height=60></canvas>
        <!--div id="remark"></div>
        <button id="bye">B</button>
        <button id="next">N</button-->
    </div>
</div>
